.login-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #e9fdf3, #f7fffb);
  padding: 2rem;
  

  .login-card {
    background: #ffffff;
    border-radius: 16px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
    padding: 2.5rem 2rem;
    width: 100%;
    max-width: 400px;
    text-align: center;
    transition: all 0.3s ease;

    &:hover {
      transform: translateY(-4px);
      box-shadow: 0 15px 35px rgba(0, 0, 0, 0.1);
    }

    .login-title {
      font-size: 1.8rem;
      font-weight: 600;
      color: #0f5132;
      margin-bottom: 1.5rem;
    }

    .login-form {
      .form-group {
        margin-bottom: 1.2rem;
        text-align: left;

        label {
          display: block;
          margin-bottom: 0.4rem;
          color: #0f5132;
          font-weight: 500;
          font-size: 0.95rem;
        }

        input {
          width: 100%;
          padding: 0.8rem 0.1rem;
          border: 1.5px solid #d1e7dd;
          border-radius: 10px;
          font-size: 1rem;
          outline: none;
          transition: all 0.3s ease;

          &::placeholder {
            color: #adb5bd;
          }

          &:focus {
            border-color: #198754;
            box-shadow: 0 0 8px rgba(25, 135, 84, 0.2);
          }
        }
      }

      .login-btn {
        width: 100%;
        padding: 0.9rem;
        border: none;
        border-radius: 10px;
        background: linear-gradient(135deg, #00a86b, #2ecc71);
        color: #fff;
        font-size: 1.1rem;
        font-weight: 500;
        cursor: pointer;
        transition: 0.3s;

        &:hover {
          background: linear-gradient(135deg, #01925e, #27ae60);
          transform: translateY(-2px);
        }

        &:disabled {
          opacity: 0.7;
          cursor: not-allowed;
        }
      }
    }

    .register-text {
      margin-top: 1.5rem;
      font-size: 0.95rem;
      color: #495057;

      .register-link {
        color: #00a86b;
        font-weight: 600;
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: #01925e;
          text-decoration: underline;
        }
      }
    }
  }

  // Responsive Design
  @media (max-width: 480px) {
    .login-card {
      padding: 1.8rem 1.2rem;
      .login-title {
        font-size: 1.5rem;
      }
    }
  }
}
