.footer {
  background: linear-gradient(90deg,   #00a86b, #2ecc71);
  color: #ffffff;
  padding: 2rem 1.5rem 0.5rem;
  font-family: 'Poppins', sans-serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1100px;
    margin: 0 auto;
    gap: 2rem;
  }

  .footer-section {
    flex: 1;
    min-width: 220px;

    h3,
    h4 {
      color: #023b2d;
      margin-bottom: 0.8rem;
      font-weight: 600;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        margin-bottom: 0.4rem;

        a {
          text-decoration: none;
          color: #ffffff;
          transition: all 0.3s ease;

          &:hover {
            color: #fdfdfd;
            text-decoration: underline;
          }
        }
      }
    }

    p {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      margin: 0.4rem 0;
      font-size: 0.95rem;
      color: #ffffff;

      svg {
        color: #ffffff;
      }
    }
  }

  .footer-bottom {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 0.9rem;
    color: #ffffff;
    border-top: 1px solid #d1fae5;
    padding-top: 1rem;

    svg {
      vertical-align: middle;
      color: #ffffff;
    }
  }
}
