.navbar {
  width: 100%;
  background: linear-gradient(90deg, #00a86b, #2ecc71);
  color: #fff;
  padding: 14px 0;
  position:sticky;
  top: 0;
  left: 0;
  z-index: 20;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;

  .navbar-container {
    width: 88%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navbar-logo {
    h2 {
      font-size: 26px;
      font-weight: 700;
      letter-spacing: 1px;
      color: #ffffff;
      cursor: pointer;
      transition: all 0.3s ease;
      text-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);

      &:hover {
        color: #eafff3;
        transform: translateY(-2px);
      }
    }
  }

  .navbar-links {
    list-style: none;
    display: flex;
    gap: 40px;
    align-items: center;

    li {
      a {
        text-decoration: none;
        font-size: 17px;
        color: #f8fff9;
        font-weight: 500;
        transition: all 0.3s ease;

        &:hover {
          color: #d1fae5;
        }
      }
      .logout-btn{
        background: #00a86b;
        color:#fff;
        padding: 8px 18px;
        border-radius: 25px;
        font-weight: 600;
        box-shadow: 0 3px 10px rgba(0, 168, 107, 0.25);
        transition: all 0.3s ease;
      }

      .register-btn {
        background: #ffffff;
        color: #00a86b;
        padding: 8px 18px;
        border-radius: 25px;
        font-weight: 600;
        box-shadow: 0 3px 10px rgba(0, 168, 107, 0.25);
        transition: all 0.3s ease;

        &:hover {
          background: #00a86b;
          color: #fff;
          transform: translateY(-2px);
          box-shadow: 0 5px 14px rgba(0, 168, 107, 0.35);
        }
      }
    }
  }
}

